<div class="row">
  <div class="col-sm-6">
    <form (ngSubmit)="onSubmitForm()" [formGroup]="heroProfile">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div  class="waring" *ngIf="heroProfile.get('name')?.errors?.required && heroProfile.get('name')?.touched">
          This feild is requied
       </div>
      </div>

      <div formArrayName="powers" *ngIf="powers.controls.length">
        <label for="">Power</label>
        <div class="form-group" *ngFor="let c of powers.controls; index as i">
          
          <input type="text" class="form-control" [formControlName]="i">
          <div class="text-right">
            <button class="btn btn-info" (click)="addPower()">+</button>
            <button class="btn btn-danger" (click)="removePower(i)" *ngIf="powers.controls.length >1">-</button>
          </div>
        </div>
        
      </div>
      <div class="form-group">
        <label for="">Alter Ego</label>
        <input type="text" class="form-control" formControlName="alterEgo">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-sm-6">
    <app-hero-list></app-hero-list>
  </div>
</div>

<hr>
<pre>
  {{heroProfile.value | json}}
</pre>
<hr>
<pre>
  {{heroProfile.controls.name?.errors | json}}
</pre>