<!-- <div class="container">
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a  [routerLink]="[ '/templatedriven' ]" class="nav-link" routerLinkActive="active">Template Driven Form</a>
  </li>
  
  <li class="nav-item">
    <a  [routerLink]="[ '/reactiveform' ]" class="nav-link" routerLinkActive="active">Reactive Form</a>
  </li>
  <li class="nav-item">
    <a  [routerLink]="[ '/customvalidator' ]" class="nav-link" routerLinkActive="active">Custom Validator</a>
  </li>
  <li class="nav-item">
    <a  [routerLink]="[ '/httpclient' ]" class="nav-link" routerLinkActive="active">Http Client</a>
  </li>
</ul>
<router-outlet></router-outlet>

</div> -->
<app-wellcome></app-wellcome>